* {
    box-sizing: border-box; 
}

body {
    font-family: "Gill Sans", sans-serif;   
    font-size: 15px;
}

.flex-container {
    display: flex;
}

.explore-box {
    flex-wrap: wrap;
    margin-top: 200px;
    justify-content: center;
    gap: 30px;
}

img {
    border-radius: 10px;
    object-fit: cover;
}

.post-box {
    background-color: lightgray;
    border-radius: 10px;
    width: 750px;
    height: 380px;
    position: fixed; 
    bottom: 125px;
}

.post-content img {
    margin-top: 25px;
    margin-left: 25px;
    width: 300px;
    height: 300px;
}

.post-content p {
    text-align: center;
}

.post-detail {
    margin: 20px 90px;
}

#comments {
    margin-top: 35px;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.username div {
    margin: 5px;
}

.commenter {
    margin-bottom: 10px;
}