* {
    box-sizing: border-box; 
}

body {
    font-family: "Raleway", sans-serif;   
    font-size: 95%;
}

.flex-container {
    display: flex;
}

.explore-box {
    flex-wrap: wrap;
    margin-top: 7.5rem;
    justify-content: center;
    gap: 2rem;
}

img {
    border-radius: 10px;
    object-fit: cover;
}

.post-box {
    background-color: lightgray;
    border-radius: 10px;
    width: 59%;
    height: 61%;
    position: fixed; 
    bottom: 20%;
}

.post-content img {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 19rem;
    height: 19rem;
}

.post-content p {
    text-align: center;
}

.post-detail {
    margin: 1em 4em;
}

#comments {
    margin-top: 1.5rem;
}

.circle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}

.username div {
    margin: .35em;
}

.commenter {
    margin-bottom: .6em;
}

footer {
    color: white;
    background-color: #F798BB;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 2.5%;
}

footer p {
    margin-left: 3em;
}

footer a {
    color: white;
    text-decoration: none;
}

.material-icons {
    position: relative;
    top: .25em;
}
