  html,
  body {
    height: 100%;
    min-height: 100%;
    margin: 0;
  }
  
  .tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: relative ;
    margin-top: -3em;
    margin-left: 25em;  
    width: 55em;  
    height: 4em;
    background-color: #B1E2CC;
    border-radius: 1em;
    box-shadow: 0 1em 4em #AADAC5, 0 0 0 1em #ffffffeb;
    transform: scale(0.6);
   
  }
  
  input[type="text"] {
    width: 100%;
    height: 2em;
    font-size: 2em;
  }
  
  input[type="text"]::placeholder {
    color:#fff; 
  }
  
  #s-cover {
    width: 1em;
    padding-left: 1em;
  }
  
  .search {
    position: relative;
    width: 5em;
    height: 6em;
    cursor: pointer;
    display: block;
  }
  
  #s-circle {
    position: relative;
    top: -1em;
    left: 0;
    width: 4.5em;
    height: 4.5em;
    margin-top: 0;
    border-width: 5em;
    border: 1em solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 4em;
    left: 3em;
    display: block;
    width: 2.5em;
    height: 1.5em;
    background-color: transparent;
    border-radius: 1em;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 1em;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: .1em;
    width: 4em;
    height: 1em;
    border-width: 0;
    background-color: #fff;
    border-radius: 2em;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 3em;
    width: 2em;
    margin-top: -.5em;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 1em;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -1em;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -.2em;
    width: 3em;
    background-color: #fff;
  }
  
  .vertical {
      border-left: .3em solid darkgray;
      height: 2.5em;
      position: relative;
      top: 1em;
      right: 1em;
    }
  
    
    nav {
      padding-top: .5em;
      font-size: 2em;
      text-align: center;
      
      
  }
  
  nav a {
      text-decoration: none;
      font-size: 25px;
      color: black;
      padding-left: 3.5em;
      
  }
  
  .ae {
      display: inline;
      margin-right: 19em;
          
  }
  
  .lsu {
      display: inline;
      margin-left: 2em;
  }
  
  nav a img {
      position: fixed;
      top: 0;
      left: 0;
      margin-left: none;
      z-index: 5;
  }

  header {
    background-color: #B9D8CA;
    height: 5em;
    width: 100%;
    position: fixed;
    
  }

 