* {
    box-sizing: border-box; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 30px;
  
}

.flex-item {
    background-image: url('../img/Untitled_Artwork 15.PNG');
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 105px;
    
}

img {
    margin-left: 600px;
    margin-top: 200px;
    
}

.profile {
    margin-top: -20px;
    text-align: center;
}


.buttonP {
  background: #6D9394;
  border-radius: 12px;
  box-shadow: #3D6B6C 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: inline;
  margin-left: 650px;
  margin-right: -630px;
}

a {
    text-decoration: none;
}
