* {
    box-sizing: border-box; 
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
    font-family: "Raleway", sans-serif;   
    font-size: 95%;
}

.flex-container {
    display: flex;
}

/* explore section */
.explore-box {
    flex-wrap: wrap;
    margin-top: 7.5rem;
    justify-content: center;
    gap: 2rem;
}

.flex-item img {
    border-radius: 10px;
    object-fit: cover;
}

.post-box {
    background-color: lightgray;
    border-radius: 10px;
    width: 59%;
    height: 61%;
    position: fixed; 
    bottom: 20%;
}

.post-content img {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 19rem;
    height: 19rem;
}

.post-content p {
    text-align: center;
}

.post-detail {
    margin: 1em 4em;
}

#comments {
    margin-top: 1.5rem;
}

.circle {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}

.username div {
    margin: .35em;
}

.commenter {
    margin-bottom: .6em;
}

.post-img {
    margin: 2em;
    width: 300px;
    height: 300px;
}
  
#content {
    margin-top: 35px;
}

/* home page */
.card {
    flex-direction: column;
    margin: 1em;
    align-items: center;
}
  
.stars {
  flex-direction: row;
}

/* navbar section*/
.tb {
    display: table;
    width: 100%;
}
  
.td {
    display: table-cell;
    vertical-align: middle;
}
  
input,
button {
    color: #fff;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}
  
#cover {
    position: relative ;
    margin-top: -3em;
    margin-left: 25em;  
    width: 55em;  
    height: 4em;
    background-color: #F798BB;
    border-radius: 1em;
    box-shadow: 0 1em 4em #DEA4BF , 0 0 0 1em #ffffffeb;
    transform: scale(0.6);
   
}
  
input[type="text"] {
    width: 100%;
    height: 2em;
    font-size: 2em;
}
  
input[type="text"]::placeholder {
    color:#fff; 
}
  
#s-cover {
    width: 1em;
    padding-left: 1em;
}
  
.search {
    position: relative;
    width: 5em;
    height: 6em;
    cursor: pointer;
    display: block;
}
  
#s-circle {
    position: relative;
    top: -1em;
    left: 0;
    width: 4.5em;
    height: 4.5em;
    margin-top: 0;
    border-width: 5em;
    border: 1em solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}
  
button span {
    position: absolute;
    top: 4em;
    left: 3em;
    display: block;
    width: 2.5em;
    height: 1.5em;
    background-color: transparent;
    border-radius: 1em;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}
  
button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 1em;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}
  
#s-cover:hover #s-circle {
    top: .1em;
    width: 4em;
    height: 1em;
    border-width: 0;
    background-color: #fff;
    border-radius: 2em;
}
  
#s-cover:hover span {
    top: 50%;
    left: 3em;
    width: 2em;
    margin-top: -.5em;
    transform: rotateZ(0);
}
  
#s-cover:hover button span:before {
    bottom: 1em;
    transform: rotateZ(52deg);
}
  
#s-cover:hover button span:after {
    bottom: -1em;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -.2em;
    width: 3em;
    background-color: #fff;
}
  
.vertical {
      border-left: .3em solid darkgray;
      height: 2.5em;
      position: relative;
      top: 1em;
      right: 1em;
}
  
    
nav {
      padding-top: .5em;
      font-size: 2em;
      text-align: center;
      
      
}
  
nav a {
      text-decoration: none;
      font-size: 25px;
      color: black;
      padding-left: 3.5em;
      
}
  
.ae {
      display: inline;
      margin-right: 19em;
          
}
  
.lsu {
      display: inline;
      margin-left: 2em;
}
  
nav a img {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: none;
    z-index: 5;
}

header {
    background-color:#F1D1E0 ;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


/* footer section */
footer {
    color: white;
    background-color: hsl(338, 86%, 78%);
    margin-top: 3%;
    height: 20vh;
}

footer p {
    position: relative;
    top: 1em;
    margin-top: -1em;
    margin-left: 3em;
}

footer p:last-of-type {
    top: 2em;
}

footer a {
    color: white;
    text-decoration: none;
}

.material-icons {
    position: relative;
    top: .3em;
}

/* business profile section */

.flex-containerR {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-left: 1em;
  gap: 2em;
  flex-grow: 1;
  flex-direction: column;
  flex-direction: row;
  width: 73%;
  
}

.flex-itemR {
  background-image: url('../img/Untitled_Artwork 15.PNG');
  background-size: cover;
  border-radius: 1em;
  padding: 7.5em;
  
}

#profile {
  margin-left: 35%;
  margin-top: 7.5em;
}

.profileR {
  margin-top: -1em;
  margin-left: 24em;
  font-size: 1.5em;
  
}

.sub { 
  margin-left: 38em;
}

.sub p {
  display: inline;
  margin-left: -.1em;
  margin-right: .7em;
}

.verticalR {
  border-left: .2em solid darkgray;
  height: 1em;
  position: relative;
  top: .1em;
  right: .4em;
  display: inline; 
}

.float-container {
  padding: 1em;
  margin-top: -70em;
  margin-right: 3em;
}

.float-child {
  width: 20%;
  height: fit-content;
  margin-left: 70em;
  padding: 1em;
  background-color: #D5E1E1; 
  border-radius: 1em;   
}  

.rate {
  margin-left: 39em;
  margin-top: 1em;
}

.rate a {
  text-decoration: none;
}

.address {
  text-align: center;
}

.map {
  background: #50896A;
  border-radius: .8em;
  box-shadow: #93BBA0 0 1em 2em -1em;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  opacity: 1;
  outline: 0 solid transparent;
  padding: .5em 1.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: inline;
  margin-left: 4.5em;
  margin-right: -2em;
  
}

a {
  text-decoration: none;
}


.flex-containerP {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
    gap: 2em;
  
}

.flex-itemP {
    background-image: url('../img/Untitled_Artwork 15.PNG');
    background-size: cover;
    border-radius: 1em;
    text-align: center;
    padding: 10em;
    
}

.profileP {
    margin-left: 40%;
    margin-top: 7em;
    
}

.profile {
    margin-top: -2em;
    text-align: center;
}


.postButton {
  background: #6D9394;
  border-radius: .8em;
  box-shadow: #3D6B6C 0 1em 2em -1em;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5em;
  opacity: 1;
  outline: 0 solid transparent;
  padding: .5em 1.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: inline;
  margin-left: 43%;
  margin-right: -38em;
}

