* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
}

.flex-container {
    display: flex;
}

.NomNom-button {
    padding: 1em;
    border-radius: 2em;
    width: 6em;
    color: white;
    font-weight: bold;
}

.general-layout {
    flex-direction: column;
    margin-top: 10em;
}

/* navbar section*/
header {
    position: relative;
    z-index: 999;
}

.navbar {
    height: 5rem;
    justify-content: center;
    align-items: center;
}

.navbar section {
    margin-left: .5em;
    flex-wrap: nowrap;
}

.active {
    border-style: solid;
    border-color: #66705b;
    background-color: #B5CB99;
}

.logo {
    width: 2em;
    margin: .2em;
    margin-top: .5em;
    align-self: center;
    justify-self: center;
}

.more {
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: .5em;
    align-self: center;
    display: block;
}

.dropdown {
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
}

.dropdown-content {
display: none;
width: 130px;
margin-top: 2em;
position: absolute;
box-shadow: .1rem .1rem .5em .08rem rgba(109, 100, 104, 0.4);
border-radius: 10px;
z-index: 1;
flex-direction: column;
flex-wrap: nowrap;
}

.dropdown-content a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #d4d4d4;
}

.dropdown:hover .dropdown-content {
display: block;
background-color: white;
}


.home-explore {
    align-items: center;
    justify-content: flex-end;
    display: none;
}

.home-explore a {
    font-size: .5em;
    text-decoration: none;
    color: black;
    margin: 2em;
}

.search-fields {
    display: table;
}

.search-term {
    max-width: min-content;
    margin: 0;
}

#searchbar form {
    width: 100%;
}

.search-term {
    display: table-cell;
    vertical-align: middle;
}

input:focus {
    outline: none;
}

input, button {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#searchbar {
    width: 30em;
    align-self: center;
    font-size: .5rem;
    background-color: white;
    border-style: solid #d4d4d4;
    border-radius: 3em;
    height: 4em;
    align-items: center;
    justify-content: center;
    box-shadow: .1rem .1rem .5em .08rem rgba(109, 100, 104, 0.4);
}

input[type="text"] {
    width: 100%;
    padding: 1em;
    height: 2em;
    font-size: 1.5em;
}

input, button, input[type="text"]::placeholder {
    color: black;
    opacity: .8;
    font-size: 1em;
}

#search-btn-cover {
    width: 1.5em;
    padding-left: 1em;
}

.search-btn {
    position: relative;
    width: 3em;
    height: 5em;
    cursor: pointer;
    display: block;
}

#search-btn-circle {
    position: relative;
    width: 1.8em;
    height: 1.8em;
    top: -.2em;
    border: .3em solid #868686;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 3.6em;
    left: 2em;
    display: block;
    transform: rotateZ(45deg);
}

button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: .8em;
    height: .3em;
    background-color: #868686;
    border-radius: 1em;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

nav {
    font-size: 2em;
    text-align: center;
    background-color: white;
}

.user-profile {
    margin: 1em;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

header {
    width: 100%;
    height: 5rem;
    box-shadow: 0 .1rem .3rem rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    left: 0;
}

/* home option */
.home-option {
    flex-wrap: nowrap;
    justify-content: center;
    transform: scale(.8);
    margin-top: -4em;
    margin-left: -4em;
    margin-right: -4em;
}

.home-option a {
    width: 6.5em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

#chosen-option {
    background-color: #F39999;
    color: white;
    font-weight: bold;
}

/* .home-option a:not(#chosen-option):hover {
    color: #F39999;
    font-weight: bold;
    text-shadow: lightgray 4px 2px;
    transition: all .5s ease-in-out;
} */

/* discovery page */
.post-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 1rem 0;
    justify-content: center;
    gap: 1em;
}

.post img {
    object-fit: cover;
    border-radius: 10px;
    max-height: 100%;
    width: 17rem;
    z-index: -1;
}

.column-box {
    flex-direction: column;
    margin-top: -.5rem;
}

.post {
    flex-direction: column;
}

.post-interaction {
    margin-bottom: 1em;
    width: 14rem;
    justify-content: flex-end;
    opacity: 0;
}

.post-interaction div {
    position: absolute;
}

.restaurant-name {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: -3rem;
    justify-content: flex-start;
    z-index: 2;
    align-items: center;
}

.heart, .heart-filled {
    width: 5rem;
    position: relative;
    z-index: 50;
}
.heart-filled {
    opacity: 0;
}
.heart-container {
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.heart-container:hover > .heart {
    display: none;
}

.heart-container:hover > .heart-filled {
    opacity: 1;
    transition: all .4s;
}


.restaurant-name p {
    cursor: pointer;
    opacity: 0;
    width: 14rem;
    padding-right: 4rem
}

.post:hover > .post-interaction {
    opacity: 1;
    transition: opacity .2s;
}

.post:hover > .restaurant-name p {
    opacity: 1;
    transition: opacity .3s;
}

.post:hover > a img {
    filter: brightness(50%);
    opacity: .9;
    transition: all .3s;
}

.bookmark, .bookmark::after {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border-top-right-radius: 3px;
    opacity: 1;
}

.bookmark {
    margin-top: 0.7rem;
    color: white;
    z-index: 0;
    border: 2px solid;
    border-bottom: 2em none;
    border-bottom-style:hidden;
    border-top-left-radius: 3px;
    transform: scale(var(--ggs,1));
    box-shadow: .3rem -.1rem .3rem -.2rem grey;
    width: 1.6em;
    height: 2em;
    overflow: hidden;
}

.bookmark::after {
    position: absolute;
    z-index: 1;
    content: "";
    width: 1.6em;
    height: 1.5em;
    transform: rotate(-45deg);
    border-top: white solid;
    border-right: white solid;
    top: 1.4em;
    left: -2px;
    box-shadow: 0rem 0rem 1rem 5rem white;
    opacity: 1;
}

.bookmark:hover {
    height: 3.5em;
    transition: all .6s;
}

.bookmark:hover::after {
    top: 2.9em;
    box-shadow: 0rem 0rem 1rem 5rem white;
    transition: all .4s;
}

.icon {
    max-width: 30px;
    max-height: 30px;
}


.post-btns {
    position: relative;
    z-index: 3;
    flex-direction: column;
    align-items: flex-end;
}

.post-link {
    position: relative;
    z-index: -1;
    text-decoration: none;

}

/* following page */
.restaurant-list {
    margin-top: 2em;
    gap: 2em;
}

.restaurant-figure {
    width: 15rem;
    margin: 0;
    padding-bottom: .3em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.restaurant-figure a {
    text-decoration: none;
}

.restaurant-figure img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 8rem;
}

figcaption {
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 0.5em;
}

/* opening post */
.post-box {
    flex-direction: column;
    font-size: .9rem;
    margin-top: -3em;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

.post-img, .post-detail {
    flex-grow: 1;
}

.post-detail {
    margin: 1em;
    flex-direction: column;
}

.post-img {
    align-items: center;
}

.post-img img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 100%;
}

.profile-pic {
    height: 3rem;
    width: 3rem;
    flex-grow: 2;
}

.profile-pic img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.username {
    flex-grow: 20;
}

.username p {
    margin: 0;
}

.username p:first-child {
    font-weight: bold;
    font-size: 1rem;
    margin-top: .5em;
}

.username p:last-child {
    font-size: .8rem;
}

.follow-box {
    flex-grow: 1;
    align-self: center;
}

.follow-box button {
    color: black;
    background-color: lightgray;
    padding: .75em 0;
    width: 5em;
}

.post-util {
    margin-bottom: 1em;
    justify-content: space-between;
}

.post-util button {
    background-color: #F39999;
    padding: .75em 0;
    width: 5em;
}

.post-util .material-icons {
    border: 1em;
    font-size: 1.7rem;
    color: black;
}

.post-util .material-icons {
    position: relative;
    font-size: 2rem;
    text-decoration: none;
}

.comment-dropdown {
    display: none;
}

.comment-dropdown .material-icons {
    position: relative;
    top: .45em;
    color: black;
}

main > p {
    margin: 2em 0 0 1.5em;
    font-weight: bold;
}

/* comment section */
.comment-box {
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    z-index: 100;
}

.comment-box > a {
    align-self: center;
}

#minimize-bar {
    height: .25em;
    margin-top: .4em;
    background-color: lightgray;
    border-radius: 20px;
    width: 75px;
}

.comment-count {
    justify-content: space-between;
    box-shadow: 0 1px rgb(0 0 0 / 20%);
}

.comment-count > p {
    margin-left: .75em;
    font-size: .8rem;
    font-weight: bold;
}

.comment-count .material-icons {
    margin: .2em .5em 0 0;
    font-size: 1.4rem;
    position: relative;
    top: 0.3em;
}

.comment-section {
    overflow: auto;
    height: 300px;
}

.commenter {
    margin-top: 1em;
}

.commenter:last-child {
    margin-bottom: 2em;
}

.commenter .profile-pic {
    flex-grow: 0;
    margin: 0 .5em;
}

.commenter .username p:first-child {
    font-size: .85rem;
    margin-bottom: .2em;
}

.comment-entry {
    flex-direction: row;
    padding: 1em 0 1em 0;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.comment-entry textarea {
    border-radius: 20px;
    width: 75%;
    padding: .5em;
    resize: vertical;
}

.comment-entry button {
    padding: .5em;
    background-color: #F39999;
    width: 4em;
    margin-left: 1em;
}

/* create page */
.upload-box {
    display: flex;
    justify-content: space-between;
}

.form-container {
    background-color: #DCDFDD ;
    border-radius: 2em;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;

}

.container2 {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 5%
}

.description-container label,
.description-container textarea {
    display: block;
    margin-bottom: 10px;
    
}

#dropArea {
    margin-top: 40%;
    text-align: center;
}

#dropArea input {
    margin-left: 30%;
}

.description-container {
    border-radius: 2em;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.description-container textarea {
    border-radius: .75em;
    height: fit-content;
    display: flex;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

.button {
    cursor: pointer;
}

#publish {
    display: inline-block;
    background-color: #B5CB99;
    border: none;
    cursor: pointer;
}

/* profile page */
.profile-page {
    margin-top: -3em;
    flex-direction: column;
}

.profile-banner {
    padding: 5em 0;
    margin: 0 1em;
    background-image: url(../img/Nikke.jpg);
    background-size: cover;
    border-radius: 10px;
    justify-content: space-between;
}

.profile-banner .profile-pic {
    margin: 0 2% 0 5%;
    flex-grow: 0;
}

.profile-banner .follow-box {
    margin-right: 1em;
}

.profile-context {
    flex-direction: column-reverse;
}

.profile-contact {
    flex-direction: column;
}

.post-collection {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    justify-content: center;
    gap: 1em;
}

.post-collection img {
    object-fit: cover;
    width: 10rem;
    height: 100%;
    border-radius: 10px;
}

.profile-details {
    flex-direction: column;
    gap: 1em;
    margin: 1em 1em 0;
}

.profile-details .profile-openings {
    text-align: center;
    padding: 1em 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.profile-details .profile-contact {
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

/* footer section */
footer {
    color: white;
    background-color: hsl(338, 86%, 78%);
    margin-top: 15%;
}

.footer-container {
    flex-direction: column;
    padding-bottom: 2.5%;
}

footer p:first-child {
    position: relative;
    top: 1.4em;
}

footer p {
    margin-left: 2em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .material-icons {
    position: relative;
    top: .3em;
}

/* hidden display */
.hidden {
    display: none;
}

@media (min-width: 475px) {
    /* home options */
    .home-option a {
        margin: 0;
    }

    /* discovery page */
    .post-list {
        flex-direction: row;
    }

    .post {
        width: 17rem;
    }




    /* following page */

    .restaurant-figure {
        width: 12rem;
    }

    .restaurant-figure img {
        height: 7rem;
    }
    .user-profile {
        margin: .5em;
    }
}

@media (min-width: 640px) {
    /* home options */
    .home-option a {
        margin: .2em 1.5em;
        transform: scale(1);
    }

    .restaurant-list {
        gap: 3em;
    }

    .restaurant-figure {
        width: 15rem;
    }

    .restaurant-figure img {
        height: 10rem;
    }

    /* opening post */
    .post-box {
        flex-direction: row;
        border-radius: 25px;
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .post-img {
        width: 100%;
    }

    .post-img img {
        border-radius: 25px 0 0 25px;
    }

    .post-detail {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .post-creator {
        margin-bottom: 4em;
    }

    .post-detail section {
        margin-bottom: 1em;
    }

    .post-util .material-icons:first-child {
        top: .3em;
        font-size: 2rem;
    }

    .post-util .material-icons:last-child {
        display: none;
    }

    .post-util button {
        margin-right: .27em;
        margin-top: .4em;
    }

    .comment-dropdown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        order: -1;
        margin: 0 .5em;
    }

    main > p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* comment section */
    .comment-box {
        position: static;
        order: -2;
        box-shadow: none;
    }

    #minimize-bar {
        display: none;
    }

    .comment-count {
        display: none;
    }

    .comment-section {
        height: 200px;
    }

    .comment-entry {
        box-shadow: none;
        padding-bottom: 0;
        margin-top: 0;
    }

    .search-fields {
        display: table;
        width: 100%;
    }

    #searchbar {
        width: 40em;
    }
}

/* md */
@media (min-width: 754px) {
    /* discovery page */
    .home-option a {
        margin: .2em 1.5em;
    }

    /* following page */
    .restaurant-figure {
        width: 20rem;
    }

    .restaurant-figure img {
        height: 12rem;
    }

    /* opening post */
    .post-box {
        width: 700px;
    }

    .post-img {
        width: 92%;
    }
    .home-explore {
        display: flex;
    }
    .more {
        display: none;
    }
}

/* lg */
@media (min-width: 1024px) {
    /* footer */
    footer {
        margin-top: 7.5%;
    }

    /* opening post */
    .post-box {
        width: 900px;
    } 

    .post-img {
        width: 70%;
    }

    .post-util button {
        margin-right: .65em;
    }
}

/* xl */
@media (min-width: 1280px) {

}

/* 2xl */
@media (min-width: 1536px) {
    /* footer */
    footer {
        margin-top: 5%;
    }
    #searchbar {
        width: 80em;
    }
}

/* create post */

/* sm */
@media (min-width: 375px) {
    .upload-box{
        flex-direction: column;
        align-items: center;
        margin-right: 12%;
    }

    .drop-area {
        margin-bottom: 30%;
        
    }


    .form-container {
    background-color: #DCDFDD ;
    border-radius: 2em;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: -20%;
    margin-right: 20%;
    font-size: x-large;
    }

    .container2 {
        width: 50%;   
        font-size: x-large; 
    }

    .form-container,
    .container2 {
        margin-bottom: 2em;
        margin-right: 0; 
        margin-bottom: 10%;
        margin-left: 5%;

    }

}


@media (min-width: 640px) {
    .upload-box{
        flex-direction: column;
        align-items: center;
        
    }

    .drop-area {
        margin-bottom: 30%;
        
    }

    .form-container {
    background-color: #DCDFDD ;
    border-radius: 2em;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    font-size: x-large;
    }

    .container2 {
        width: 50%; 
        font-size: x-large; 
    }

    .form-container,
    .container2 {
        margin-bottom: 2em;
        margin-right: 0; 
        margin-bottom: 10%; 
        margin-left: 5%;
    }

}

/*md */
@media (min-width: 754px) {
    .upload-box{
        flex-direction: column;
        align-items: center;
        
    }

    .drop-area {
        margin-bottom: 30%;  
    }


    .form-container {
    background-color: #DCDFDD ;
    border-radius: 2em;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    justify-items: center;
    font-size: x-large;
    }

    .container2 {
        width: 50%;  
        font-size: x-large;  
    }

    .form-container,
    .container2 {
        margin-bottom: 2em;
        margin-right: 0; 
        margin-bottom: 10%; 
        margin-left: 15%;
    }

}

@media (min-width: 1024px) {
    .upload-box {
        flex-direction: row;
        align-items: flex-start;
    }

    .form-container {
        margin-left: 20%;
        font-size: medium;
    }

    .container2 {
        font-size: medium;
    }

}

@media (min-width: 1280px) {
    .upload-box {
        flex-direction: row;
        align-items: flex-start;
    }

    .form-container {
        margin-left: 20%;
        font-size: medium;
    }

    .container2 {
        font-size: medium;
    }

}

@media (min-width: 1536px) {
    .upload-box {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 10%;
    }

    .form-container {
        margin-left: 10%;
        font-size: x-large;
        width: 70%;
    }

    .container2 {
        font-size: x-large;
        padding-bottom: 17%;
       
    }

    

}
