* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.flex-container {
  display: flex;
}

img {
  border-radius: 10px;
  object-fit: cover;
}

.post-box {
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  margin: 0;
  height: 380px;
  bottom: 125px;
}

.post-img {
  margin: 2em;
  width: 300px;
  height: 300px;
}

.post-content p {
  text-align: center;
}

.post-detail {
  margin: 20px 90px;
}

#content {
  margin-top: 35px;
}
