* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/nikocado.webp);
    background-size: cover;
    background-blend-mode: lighten;
    background-color: lightgray;
    font-family: 'Segoe Print', sans-serif;
    font-size: 15px;
}

section img {
    object-fit: contain;
    width: 25%;
    height: 25%;
}

h1 {
    color: rgb(255, 75, 151);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: .25rem;
}

h2, h3 {
    color: magenta;
    font-size: 20px;
    border-bottom: .25rem solid darkorchid;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.flex-item {
    box-shadow: 5px 10px 5px darkgray;
    margin: 0 1rem;
    background-color: lightcyan;
    border-radius: 10px;
}

a {
    color: magenta;
}

.flex-item a {
    background-color: lightcyan;
}

em {
    display: block;
    color: darkmagenta;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 10px 10px 0 0;
    text-align: center; 
}

.flex-item p {
    background-color: lightcyan;
    margin: 1rem;
}

a:hover {
    text-shadow: 2px 2px 2px cyan;
    transition: all 1s ease-out;
}

a:visited {
    color: gold;
}

