h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: pink; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input {
    width: 100%;
    padding: 1rem;
    border: 0.25rem solid #ccc;
    border-radius: 2rem;
    background-color: lightgrey;
    margin-bottom: 1rem;
}

button#sign {
    background-color: lightgrey;
    border-radius: 2rem;
    padding: 0.75rem;
}

button#sign:hover {
    background-color: lightgreen;
    cursor: pointer;
}

legend {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
}

a#login {
    text-decoration: underline;
    margin-left: 0.5rem;
    display: inline-block;
}

a#login:hover {
    cursor: pointer;
    color: blue;
}

fieldset {
    background-color: pink;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2rem;
    margin-bottom: 1rem;
    max-width: 37.5em;
    margin: auto;
}

.links {
    text-align: center;
}